
<div class="group prop-detalle">
    <div class="group group-collapse collapsed" data-toggle="collapse" data-target="#content1">
        <div class="prop-num"><span></span></div>
        <div class="prop-title">Payment Procedure</div>
    </div>
    <div class="prop-content collapse in" id="content1">
        <div class="group">

            <ul>
                <li>Condicion 1</li>
                <li>Condicion 1</li>
                <li>Condicion 1</li>
                <li>Condicion 1</li>
                <li>Condicion 1</li>
                <li>Condicion 1</li>

            </ul>
        </div>
    </div>
    <div class="prop-icon"></div>
</div>

<div class="group prop-detalle">
    <div class="group group-collapse collapsed" data-toggle="collapse" data-target="#content1">
        <div class="prop-num"><span></span></div>
        <div class="prop-title">Our Cancellation Policy</div>
    </div>
    <div class="prop-content collapse in" id="content1">
        <div class="group">

            <ul>
                <li>Condicion 1</li>
                <li>Condicion 1</li>
                <li>Condicion 1</li>
                <li>Condicion 1</li>
                <li>Condicion 1</li>
                <li>Condicion 1</li>

            </ul>
        </div>
    </div>
    <div class="prop-icon"></div>
</div>