@model PeruTourism.Models.PeruTourism.PropuestaViewModel
@{
    ViewBag.Title = "VerPropuestaDetalle";

    var lstProgramas = Model.lstPrograma;

    var lstServicios = Model.lstServicio;

    var NombreCliente = Session["NomCliente"];
}




<div class="content">
    <h2>VerPropuestaDetalle</h2>




</div>

