@model PeruTourism.Models.PeruTourism.PropuestaViewModel


@{
	ViewBag.Title = "Pasajero";


	//var lstServicios = Model.lstServicio;



	var lajaxOptionsForm = new AjaxOptions()
	{
		HttpMethod = "POST",
		OnBegin = "e_ajax_iniciando",
		OnComplete = "e_ajax_finalizando_form_ficha",
		OnFailure = "e_ajax_error"
	};

}



<div class="form-group">
	<label>Nombre</label>
	<input type="text" id="txtNomPasajero">
</div>
<div class="form-group">
	<label>Apellido</label>
	<input type="text" id="txtApPasajero">
</div>
<div class="form-group">
	<label>Numero de Pasaporte</label>
	<input type="text" id="txtNumPasajero">
</div>

<div class="form-group">
	<label>Fecha de Nacimiento</label>
	<input type="date" id="txtFecPasajero">
</div>

<div class="form-group">
	<textarea placeholder="Write your message here" id="txtMessage" class="form-control"></textarea>
</div>

<div class="form-group">
	<label>Nacionalidad</label>
	<input type="text" id="txtNacPasajero">
</div>

<input type="text" id="txtNroPedido" value="@ViewBag.nroPedido" hidden />

<div class="group">
	<button type="submit" class="pago btn btn-primary" id="btnEnviar">SEND</button>
</div>

<script src="~/scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Pasajero/Pasajero.js"></script>