$icomoon-font-family: "perutourism" !default;
$icomoon-font-path: "../fonts" !default;

$icon-credit-card: "\e90e";
$icon-squared-cross: "\e900";
$icon-squared-minus: "\e901";
$icon-chevron-down: "\e902";
$icon-chevron-left: "\e903";
$icon-chevron-right: "\e904";
$icon-chevron-up: "\e905";
$icon-peru-testimonio: "\e906";
$icon-chat-question: "\e907";
$icon-peru-info: "\e908";
$icon-peru-propuesta: "\e909";
$icon-calendar: "\e90a";
$icon-location-pin: "\e90b";
$icon-stopwatch: "\e90c";
$icon-info-with-circle: "\e90d";

